label.error{
    font-weight: normal;
}
form.cmxform label.error, label.error {
    color: red;
    font-style: italic;
}

#agree-error{

    margin-left: -20px;

}


.add_delivery {
    background: #FE980F;
    border: medium none;
    border-radius: 0;
    color: #FFFFFF;
    display: block;
    font-family: 'Roboto', sans-serif;
    padding: 6px 25px;
}

.view_order_details a {
    background: #cf3e98;
    color: #FFFFFF;
    padding: 5px 7px;
    font-size: 16px;
}

#cart_items .cart_info .table.table-condensed thead tr {
    height: 40px ;
}